{% extends 'models/base.html' %}

{% block title %}Список моделей{% endblock %}

{% block content %}
    {% if latest_model_list %}
        <ul>
            {% for model in latest_model_list %}
                <li>
                    <a href="{% url 'models:model-config-detail' model.id %}">{{ model }}</a>
                    (<a href="{% url 'models:model-config-edit' model.id %}">Редагувати</a>)
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No models are available.</p>
    {% endif %}

{% endblock %}