{% extends 'models/base.html' %}

{% block title %}Налаштування моделі{% endblock %}
{% block seminav %}
    <a href="{% url 'models:model-run-config-detail' model_run_config_id %}">
        Переглянути JSON
    </a>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li {% if key == 'basic' %} class="active"{% endif %}>
        <a href="{% url 'models:model-run-config-edit-basic' model_run_config_id %}">Основні параметри</a>
    </li>
    <li {% if key == 'household_config' %} class="active"{% endif %}>
        <a href="{% url 'models:model-run-config-edit-household_config' model_run_config_id %}">Домогосподарства</a>
    </li>
    <li {% if key == 'government_config' %} class="active"{% endif %}>
        <a href="{% url 'models:model-run-config-edit-government_config' model_run_config_id %}">Уряд</a>
    </li>
    <li {% if key == 'raw_firm_config' %} class="active"{% endif %}>
        <a href="{% url 'models:model-run-config-edit-firm_config' model_run_config_id %}">Фірми-виробники сировини</a>
    </li>
    <li {% if key == 'capital_firm_config' %} class="active"{% endif %}>
        <a href="{% url 'models:model-run-config-edit-firm_config' model_run_config_id %}">Фірми-виробники капіталу</a>
    </li>
    <li {% if key == 'production_firm_config' %} class="active"{% endif %}>
        <a href="{% url 'models:model-run-config-edit-firm_config' model_run_config_id %}">Фірми-виробники споживчої продукції</a>
    </li>
    <li {% if key == 'outside_world_config' %} class="active"{% endif %}>
        <a href="{% url 'models:model-run-config-edit-outside_world_config' model_run_config_id %}">Зовнішній світ</a>
    </li>
</ul>
<h3>{% block subtitle %}{% endblock %}</h3>

{% block form %}{% endblock %}
{% endblock %}
