{% extends 'models/base.html' %}

{% block title %}Налаштування моделі{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
    <li {% if key == 'household_structure' %} class="active"{% endif %}>
        <a href="{% url 'models:model-config-edit-household_structure' model_config_id %}">Домогосподарства</a>
    </li>
    <li {% if key == 'government_structure' %} class="active"{% endif %}>
        <a href="{% url 'models:model-config-edit-government_structure' model_config_id %}">Уряд</a>
    </li>
    <li {% if key == 'production_firm_structure' %} class="active"{% endif %}>
        <a href="{% url 'models:model-config-edit-production_firm_structure' model_config_id %}">Фірми-виробники продукції</a>
    </li>
    <li {% if key == 'raw_firm_structure' %} class="active"{% endif %}>
        <a href="{% url 'models:model-config-edit-raw_firm_structure' model_config_id %}">Фірми-виробники сировини</a>
    </li>
    <li {% if key == 'capital_firm_structure' %} class="active"{% endif %}>
        <a href="{% url 'models:model-config-edit-capital_firm_structure' model_config_id %}">Фірми-виробники капіталу</a>
    </li>
</ul>
<h3>{% block subtitle %}{% endblock %}</h3>

{% block form %}{% endblock %}
{% endblock %}
